{% extends 'base.html.twig' %}

{% block title %}Despachar Orden {% endblock %}

{% block body %}

    <div class="p-3 mb-2 bg-light rounded-2">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Orden: {{ Order }}</h1>
            <p class="col-md-8 fs-4">Cliente: {{ CustomerName }}</p>
            <p class="col-md-8 fs-4">NIT: {{ CustomerNIT }}</p>
        </div>
        
        <div class="position-absolute top-0 end-0">
            <button class="btn btn-primary">Guardar</button>
            <button class="btn btn-secondary">Cerrar sin Guardar</button>
        </div>
    </div>

    <div class="row align-items-md-stretch" style="padding-left: 2%; padding-right: 2%;">
        <div class="col-md-7">
            <div class="h-100 p-5  border rounded-3" style="background-color: #93c5fd">
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Cod. Producto</th>
                            <th>Nombre del Producto</th>
                            <th>Cant. Requerida</th>
                            <th>Cant. a Despachar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in Products %}
                            <tr>
                                <td class="short-text">{{ product.code }}</td>
                                <td class="short-text">{{ product.name }}</td>
                                <td class="short-text">{{ product.cantRequired }}</td>
                                <td class="short-text">{{ product.cantDelivered }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="h-100 p-5 bg-light border rounded-3">
                <div>
                    <label for="productInput">Escanear producto:</label>
                    <input type="text" id="productInput" placeholder="Código de Barras" class="form-control">
                </div>
                <br>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Código de Barras</th>
                                <th>Resultado escaneo</th>
                            </tr>
                        </thead>
                        <tbody id="scannedProducts">
                            <tr>
                                <td>123456789</td>
                                <td>Producto escaneado</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}